postgresql/.DS_Store
postgresql/user_service/.DS_Store
user_service/src/.DS_Store
user_service/src/main/.DS_Store
user_service/src/main/java/.DS_Store
user_service/src/main/java/com/.DS_Store
user_service/src/main/java/com/example/.DS_Store

/.idea/

user_service/target
finance_service/target
finance_service/finance_serivce.iml
finance_service/.mvn

telegram_bot/target
telegram_bot/telegram_bot.iml
user_service/user_service.iml

.DS_Store
lib/